/*Color palette:
-a szövegekhez -> #E2E6E0
-a kijelölt dolgokhoz -> #84A98C
-az alap dolgokhoz -> #354F52
-az általános hátterekhez -> #52796F
-az oldal hátteréhez -> #2F3E46
*/
/*-------------------------- Add a STYLE to the FULLPAGE ------------------------------------------*/
html,body,head,header,footer{
    font-family: Tahoma, Verdana, sans-serif;
    background-color: #2F3E46;
}
/*-------------------------- Add a STYLE to the TOP navigation ------------------------------------------*/
.topnav {
    border-radius: 8px;
    background-color: #354F52;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #e2e6e0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition-duration: 0.6s;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color:#84A98C;
    color:#354F52;
    transition-duration: 0.6s;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color:  #84A98C;
    color: #354F52;
  }

  .kijelentkezes{
    background-color: #354F52;
    border: none;
    color: #e2e6e0;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    float: right;
    font-size: 17px;
    transition-duration: 0.6s;
  }
  .kijelentkezes:hover{
    background-color: #84A98C;
    border: none;
    color: #354F52;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    float: right;
    font-size: 17px;
    transition-duration: 0.6s;
    cursor: pointer;
  }
  /*-------------------------- Add a STYLE to the FORM ------------------------------------------*/
  ::placeholder{
    color:#e2e6e0;
  }
  input[type=text]{
    border-radius: 8px;
    text-align: center;
    background-color: #354F52;
    color: #e2e6e0;
    transition: width 0.4s ease-in-out;
    text-decoration: none;
    border: none;
    width: 30%;
    padding: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    min-width: fit-content;
}
  input[type=text]:focus {
    width: 35%;
    min-width: fit-content;
}
  input[type=file]{
    border-radius: 8px;
    text-align: center;
    background-color: #354F52;
    color: #e2e6e0;
    text-decoration: none;
    border: none;
    width: 30%;
    padding: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    min-width: fit-content;
}
  input[type=button]{
    border-radius: 8px;
    transition: width 0.6s ease-in-out;
    text-align: center;
    background-color: #354F52;
    color: #e2e6e0;
    text-decoration: none;
    border: none;
    width: 20%;
    padding: 10px;
    margin: 25px;
    min-width: fit-content;
    float: right;
}
input[type=button]:hover{
    transition: width 0.6s ease-in-out;
    text-align: center;
    background-color: #84A98C;
    color: #354F52;
    text-decoration: none;
    border: none;
    width: 23%;
    float: right;
    min-width: fit-content;
}
.uploadbox{
  margin: auto;
  max-width: 40%;
}
.uploadbox p{
  text-align: center;
  color: #e2e6e0;
}
a{
  text-decoration: underline;
  color: #e2e6e0;
}
.labelforcheckbox{
  text-decoration: none;
  color: #e2e6e0;
}

  /*-------------------------- Add a STYLE to the STICKY HEADER ------------------------------------------*/
.stickyHeader{
  color: #e2e6e0;
  background-color: #354F52;
  text-align: center;
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
 font-size: x-large;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}
.nomargin{
  margin-top: 0px;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 10px;
}

  /*-------------------------- Add a STYLE to the SEARCH-BAR ------------------------------------------*/
.search-bar{
  padding: 14px 16px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #354F52;
  border-radius: 8px;
}
    /*-------------------------- Add a STYLE to the Pofile Data ------------------------------------------*/
.user-data{
  margin: auto;
  width: 50%;
  padding: 10px;
}
table {
  border-collapse: collapse;
  width: 100%;
  color: #e2e6e0;
  border-radius: 8px;
}
td, th {
  border: 1px solid #354F52;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #354F52;
}
.passwordshow{
  border-radius: 8px;
  text-align: center;
  background-color: #354F52;
  color: #e2e6e0;
  transition: width 0.4s ease-in-out;
  text-decoration: none;
  border: none;
  width: 30%;
  padding: 10px;
  min-width: fit-content;
}
/*-------------------------- Add a STYLE to the admin page ------------------------------------------*/ 
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active {
background-color:coral;
}
.collapsible:hover{
  background-color:crimson;
}

.user-data{

display: none;
overflow: hidden;

}
