#content{
	display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5);
    grid-gap: auto;
	margin: auto;
	border: none;
	background-color: none;
	max-width: 100%;
	
}
@media only screen and (max-width: 1300px) {
    #content{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5);
        grid-gap: auto;
        margin: auto;
        border: none;
        background-color: none;
        max-width: 100%;
    }
  }
  @media only screen and (max-width: 800px) {
    #content{
        display:grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(5);
        grid-gap: auto;
        margin: left 50px;
        border: none;
        background-color: none;
        max-width: 100%;
        
    }
  }

.termek{
	background-color: #354F52;
	color: #e2e6e0;
	border: solid 1px;
    border-color: #354F52;
	border-radius: 5px;
    /*korábban 200px volt a szélesség*/
	max-width: 400px;
	max-height: 500px;
	margin-bottom: 25px;
	margin-top: 25px;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}
.termek img{
    max-width: 400px;
    border-radius: 10px;
}
.termek p{
	font-size: 20px;
	text-align: center;
    color: #d0dbcb;
}
.leiras{
    font-size: 20px;
	text-align: center;
    color: #d0dbcb;
}
.more{
    background-color: #354F52;
    color: #e2e6e0;
    border: none;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    float: right;
    font-size: 17px;
    transition-duration: 0.6s;
    border-radius: 10px;
  }
.more:hover{
    background-color: #84A98C;
    color: #354F52;
    border: none;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    float: right;
    font-size: 17px;
    transition-duration: 0.6s;
    cursor: pointer;
    border-radius: 10px;
  }

